<%= form_with model: maze, local: true do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% maze.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
	<br>
  <div>
    <%= form.label :algo %><br>
    <div class="input-field">
      <%= form.select(:algo, Maze.algos.keys.map {|a| [a.upcase,a]}) %>
    </div>
  </div>
	<br>
  <div>
   <%= form.label :row_count %><br>
   <div class="input-field">
     <%= form.select(:row_count, [5,10,16,20]) %>
   </div>
  </div>
	<br>
  <div>
   <%= form.label :column_count %><br>
   <div class="input-field">
     <%= form.select(:column_count, [5,10,16,20]) %>
   </div>
  </div>
	<br>
    <div>
     <%= form.label :palette %><br>
     <div class="input-field">
  	 <%= form.select :palette, options_for_select(Maze.palettes.map {|key, value| [key.titleize, Maze.palettes.key(value)]}), :include_blank => true %>
     </div>
    </div>
  	<br>
  <div>
   <%= form.label :color %><br>
   <div class="input-field">
	 <%= form.select :color, options_for_select(Maze.colors.map {|key, value| [key.titleize, Maze.colors.key(value)]}), :include_blank => true %>
   </div>
  </div>
	<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
